	<div class = "site-wrapper" ng-controller="SearchController as searchCtrl">
		<div class = "site-wrapper-inner">
			<div class = "cover-container">
				<div class = "inner cover">
					<div class="logo">
					   <img src="/images/TransientLogo.png" alt="Transient Logo" class="img-circle logoImg">
						<div class="logoTxt">Transient</div>
					</div>

					<div class = "col-lg-6">
						<div class = "input-group">
							<input type = "text" class = "form-control" placeholder = "Enter City and State or Zip Code" ng-model="searchCtrl.searchTerm"></input>
							<span class = "input-group-btn">
								<button class = "btn btn-default" type="button" ng-click="searchCtrl.search()">
									<span class = "glyphicon glyphicon-search"></span>
								</button>
							</span>
						</div>
					</div>

					<div class = "">
						<ul class = "nav nav-pills">
							<li class = "disabled"><a href = ""><strong style="color:#f5f5f5;">within:</strong></a></li>
							<li class = "enabled"><a href = ""><strong>1mi</strong></a></li>
							<li class = "enabled"><a href = ""><strong>5mi</strong></a></li>
							<li class = "enabled"><a href = ""><strong>10mi</strong></a></li>
							<li class = "enabled"><a href = ""><strong>25mi</strong></a></li>
						</ul>
					</div>

				</div>

				<div class = "mastfoot">
					<div class = "inner">
						<p>Transient 2015</p>
					</div>
				</div>
			</div>
		</div>
	</div>
