        <div ng-controller="JaysDinerController as jaysCtrl">
            <div class="panel panel-default storePageBody">
                <div class="panel-heading" style="background: #2f2f2f;color:white;">
                    <h3 class="carouselHeading">Jay's Diner -
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star-empty"></span>
                        <button class="btn btn-danger" style="float:right;">
                            <span class="glyphicon glyphicon-heart"></span>
                            Favorite
                        </button>
                    </h3>
                </div>
                <div class="panel-body">
                    <div id="carouselJays" class="carousel slide" data-ride="carousel">

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img class="carouselPic" src="/images/locationPics/jaysDiner.jpg" alt="Jay's diner offers a wide selection of reasonably priced food. Local college favorite!">
                                <div class="carousel-caption">

                                        <strong>Hours of Operation:</strong>
                                    <ul class = "nav nav-pills hourPills">

                                        <li class = "disabled hourPill"><strong style="color:#f5f5f5;">Sun</strong> - All Day</li>
                                        <li class = "disabled hourPill"><strong style="color:#f5f5f5;">Mon</strong> - All Day</li>
                                        <li class = "disabled hourPill"><strong style="color:#f5f5f5;">Tues</strong> - All Day</li>
                                        <li class = "disabled hourPill"><strong style="color:#f5f5f5;">Wed</strong> - All Day</li>
                                        <li class = "disabled hourPill"><strong style="color:#f5f5f5;">Thurs</strong> - All Day</li>
                                        <li class = "disabled hourPill"><strong style="color:#f5f5f5;">Fri</strong> - All Day</li>
                                        <li class = "disabled hourPill"><strong style="color:#f5f5f5;">Sat</strong> - All Day</li>
                                    </ul>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="panel-footer">

                    <div class="panel panel-default storePanel">
                        <div class="panel-heading" style="background: #2f2f2f;color:white;">
                            <h3 class="storePanelHeading">About</h3>
                        </div>
                        <div class="panel-body storePanelBody">
                            <div class="descriptionDiv">
                                <img class="mapPic" style="margin-right:20px;"src="/images/mapPics/jaysDiner.png">
                                <div class="storeDescription" >
                                    <strong style="font-family: Andro">Address</strong>
                                    <br>
                                    2612 W Henrietta Rd,
                                    <br>
                                    Rochester, NY 14623
                                    <br><br>
                                    <strong style="font-family: Andro">Phone Number</strong>
                                    <br>
                                    (585) 424-3710
                                    <br><br>

                                    <strong style="font-family: Andro">Description</strong>
                                    <br>
                                    A favorite among locals and college kids, Jay's diner has something to offer everyone: whether it be breakfast food at any time of the day or night, a nice steak, or even some Greek dishes, Jay's truly caters to all palates at an unbeatable price!
                                    <br><br>
                                    Jay's Diner is open all day, every day (except for holidays!)
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <div class="panel panel-default reviewPanel">

                            <div class="panel-heading" style="background: #2f2f2f;color:white;">
                                <h3 class="storePanelHeading">Reviews</h3>
                            </div> 

                        <div class ="panel-body reviewPanelBody">

                            <div class="reviewsDiv">
                                <table class="table table-striped">
                                    <tbody ng-repeat="review in jaysCtrl.reviews">
                                    <tr>
                                        <th>
                                        	  {{ review.user }}
                                            <br>
                                            <img class="profThumbnail" src="{{review.image}}">
                                        </th>
                                        <td>
                                            <strong>{{ review.title }}</strong>
                                                <rating ng-model="review.stars" max="5" readonly="true" on-leave="overStar = null"></rating>
                                            <br>
                                            {{ review.descr }}
                                            <a href="#">(Read More)</a>
                                            <div class="reviewDate">
                                                <h4><small>April, 23rd, 2015</small></h4>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                            
                        </div>
                        <div class="panel-footer">

                                <div class="row">
                                        <div class="row" id="post-review-box">
                                            <div>
                                                <form accept-charset="UTF-8" ng-submit="jaysCtrl.submitReview()" style="width:95%;margin-left: 2.5%;">
                                                    <div class="ratingStars">
                                                        <h4 style="font-family: Andro">Rate Jay's Diner!</h4>
																		  <rating ng-model="jaysCtrl.rate" max="5" readonly="false" on-hover="hoveringOver(value)" on-leave="overStar = null"></rating>                                                  
                                                    </div>
                                                    <div> Title: </div>
                                                    <input class="form-control" type="text" name="title" placeholder="Review Title" ng-model=jaysCtrl.title>
                                                    <div> Description: </div>
                                                    <textarea class="form-control commentBox" cols="40" id="new-review" name="comment" placeholder="Leave a review of how your visit went here..." rows="3" ng-model="jaysCtrl.descr"></textarea>
                                                    
                                                    <div class="text-right">
                                                        <input class="btn btn-success" type="submit" value="Publish" style="margin-top: 5px;">
                                                        </input>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>