
        <!-- Bootstrap Carosel -->
        <div id="panel-container" ng-controller="EntertainmentController as EntertainCtrl">
        <div class="panel panel-default storePageBody" >
        		<div class="panel-heading" style="background: #2f2f2f;color:white;">
					<h3 class="carouselHeading">Entertainment</h3>
            </div>
            <div class="panel-body">

                <carousel interval=5000 id="carouselCategory">
                    <!-- Wrapper for slides -->
                    <slide ng-repeat="slide in EntertainCtrl.slides" active="slide.active">
                        <img class="carouselPic" ng-src="{{slide.image}}">
                        <div class="carousel-caption">
                            <strong>{{slide.title}}</strong>
                            <br><br>
                            <p>{{slide.descr}}</p>
                        </div>
                    </slide>
                </carousel>
                
                
                
         	</div>

				<div class="panel-footer">
                    <br>
					<form id="filter-selector">
            		<strong>Filter By:</strong>
            		<input type="radio" name="filter" ng-model="jaysCtrl.sorting" value="'rating'">By Rating
            		<input type="radio" checked  name="filter" ng-model="jaysCtrl.sorting" value="'distance'">By Proximity
        			</form><!-- end filter-selector -->
                    <br>


                    <table class="table table-striped table-condensed hoursTable">
                        <tbody ng-repeat="loc in EntertainCtrl.locations | orderBy:jaysCtrl.sorting:true">
                        <tr>

                            <th>
                                <strong><a class="storeTitle" href="#">{{loc.title}}</a></strong> -
                                <rating ng-model="loc.rating" max="5" readonly="true" on-leave="overStar = null" style="padding-right:35px;"></rating>
                                <br>
                                <img class="categoryThumbnail" ng-src='{{loc.pic}}'>
                            </th>


                            <td>
                                <div style="padding-left:0;">
                                    {{ loc.descr }}
                                    <br>
                                    <button class="btn btn-default btn-xs" type="button">
                                        More
                                    </button>
                                </div>
                            </td>
                        
                        </tr>
                        <tfoot>
                    <tr>
                        <td style="margin-left: auto;margin-right: auto;"><a>See more</a></td>
                    </tr>
                    </tfoot>

                        </tbody>
                        
                    </table>
				</div>
			</div>
		</div>