<header class="container-fluid headerWhole">   
    <div class="headerLogo">
        <div class="logo">
            <a href="#/" ><img src="images/TransientLogo.png" alt="Transient Logo" class="img-circle logoImg">
            <div class="logoTxt">Transient</div></a>
        </div>
    </div>

    <div class="headerSearchBar">
        <div class="input-group">
            <input type="text" class="form-control" placeholder="'Laser Tag', 'Bars', 'Boston'...">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    Distance <span class="caret"></span>
                </button>
                <ul class="dropdown-menu dropdown-menu-right" role="menu">
                    <li><a href="#">1 mile</a></li>
                    <li><a href="#">5 mile</a></li>
                    <li><a href="#">10 mile</a></li>
                    <li><a href="#">25 mile</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Switch to km?</a></li>
                </ul>
                <button class="btn btn-default" type="button">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                </button>
            </div>
        </div>
        <br>
        
        <div ng-if-start="!appCtrl.loggedin" ng-controller="LoginModalCtrl as loginModalCtrl" style="float:right;margin-bottom:15px;">
            <button class="btn btn-default btn-xs" ng-click="loginModalCtrl.openLogin(appCtrl.loggedin)">Login</button>
        </div>
        <div ng-if-end ng-controller="RegisterModalCtrl as registerModalCtrl" style="float:right;margin-bottom:15px;margin-right:5px;">
            <button class="btn btn-default btn-xs" ng-click="registerModalCtrl.openRegister(appCtrl.loggedin)">Register</button>
        </div>
    </div>
</header>    

<div class="container-fluid">
    <div class = "row" style="float:left;">
        <div class = "col-md-3 sidebar">
            <ul class = "nav nav-sidebar">
                <li><a class="navLink" href = "#/"> Home <span class = "sr-only">(current)</span></a></li>
                <li><a class="navLink" href= "{{ appCtrl.feed }}">Transient Feed</a> </li>
                <!--<li class = "active"><a href = ""><img src="images/TransientIcon.ico" class="navPic">Entertainment</a></li>-->
                <li><a class="navLink" href= "{{ appCtrl.entertainment }}">Entertainment</a></li>
                <li><a class="navLink" href = "{{ appCtrl.dining }}">Dining</a></li>
                <li><a class="navLink" href = "{{ appCtrl.events }}">Events</a></li>
                <li><a class="navLink" href = "{{ appCtrl.emergency }}">Emergency Services</a></li>
            </ul>
            <br>
            <img class="navAd" src="images/ad2.jpg">
            <br>
            <img class="navAd2" src="images/ad1.jpg">
        </div>
    </div>
    
    <div ui-view>
        <!-- Add nested view -->    
    </div>
</div>